<!DOCTYPE html>
<html>
<head>
  <title>Multisite</title>
  <%= stylesheet_link_tag    "multisite/application", media: "all" %>
  <%= javascript_include_tag "multisite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
