@color1: #559522;
@color1lighter: lighten(@color1, 5%);
@color1darker: darken(@color1, 5%);
@color1darker2: darken(@color1, 15%);
@color1darker3: darken(@color1, 20%);
@color1darkest: darken(@color1, 50%);
@linkcolor: darken(@color1, 10%);
@bordercolor: darken(@color1, 5%);

@headerbg1: #FFF8C1;
@headerbg2: #F1F0F0;

@bg1: #F3EBE1;
@bg2: #F0E4CC;

#body {
	padding: 25px;
	background: @bg1 svg-gradient(to bottom, @bg1, @bg2);

	/* centered content effect, with colors stretching 100% */
	#main
	{
		@media (min-width: 998px)
		{
			width: 960px;
		}
		margin-left: auto;
		margin-right: auto;
		float: none;

		/* Now stuff within #main */
		h1, h1 a 
		{
			color: @color1darker2;
		}
		
		#header
		{
			.title-box
			{
				display: table-cell;
			}
			.subtitle
			{
				padding-left: 1em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}

			.social-icons
			{
			}
		}
		#crumbs .breadcrumb
		{
			background-color: transparent;
		}

		#content
		{
		
			div.view, div.index /* NOT div.form edit */
			{
				:not(.controls) > a:not(.controls)
				{
					color: @linkcolor;
				}
			}

		}

		.widget > h4,
		#navbar
		{
			background: @color1 svg-gradient(to bottom, @color1, @color1darker2);
			border: solid 1px @color1darker3;
		}

		.widget > h4,
		.widget > h4 a
		{
			color: contrast(@color1);
		}
			
		#navbar
		{
			min-height: auto;

			.navbar-nav
			{
				a
				{
					/*font-size: 0.9em;
					font-weight: bold;*/
					.uppercase;
					color: contrast(@color1);
				}
				a.selected,
				a.active,
				a:hover,
				a:active,
				a:focus
				{
					color: contrast(@color1lighter);
					background-color: @color1lighter;
				}
				> li > a 
				{
					/*padding: 10px;*/
				}
			}

			.dropdown-menu
			{
				background-color: @color1darker2;
			}
		}

		.page-header
		{
			border-bottom: 0px; /* dashed #aaa 1px; */
		}

		.widget .btn.theme,
		.index .btn.theme,
		.view .btn.theme
		{
			border-color: @color1darker2;
			background-color: @color1darker;
			color: contrast(@color1);
		}
		.widget a.btn.theme:hover,
		.index a.btn.theme:hover,
		.view a.btn.theme:hover
		{
			text-decoration: none;
			background-color: @color1lighter;
		}
	}


}
